/* Flex properties taken from Stack Overflow 
(https://stackoverflow.com/questions/18990675/how-to-fix-a-footer-overlapping-content)*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/*-------Header------*/
header {
    width: 100%;
}

/*-------Flash messages------*/
.flash-msgs {
    line-height: 1;
}

/*-------Footer------*/
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-btn {
    margin-top: 5px;
}

.social-links {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 40px;
    font-size: 40px;
    text-align: center;
}

.social-links a {
    margin: 19px;
    color: #fff;
}

/*-------Home page container & Hero image------*/
.container {
    text-align: center;
    color: white;
    width: 100%;
    left: 50%;
  }

  .container-fluid {
      width: 100%;
  }

.hero-image {
    width: inherit;
    height: 350px;
    left: 0;
    margin: 0;
    padding: 0;
}

/* Flex properties taken from Stack Overflow 
(https://stackoverflow.com/questions/18990675/how-to-fix-a-footer-overlapping-content)*/
main {
    flex: 1 1 auto; 
}

/*------Buttons------*/
/* Font-weigt setting taken from Stack Overflow (https://stackoverflow.com/questions/18569994/change-button-text-to-bold)*/
.btn, .btn-small {
    font-weight: bold;
    border-radius: 20px;
    margin-top: 15px;
}

.btn-small {
    margin: 5px;
}

.btn-done-shadow {
    box-shadow: 15px 15px 60px whitesmoke;
}

h5{
    margin: 15px;
    text-align: justify;
}

h4 {
    text-align: center;
}

.row p {
    text-align: justify;
}

.select-label {
    color: #ffff;
    font-weight: bold;  
}

.select-wrapper input.select-dropdown {
    color: #006064;
    background-color: #ffff;
    font-size: 13px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 5px 5px 10px #006064 inset;
}

.select-wrapper .choose-option {
    background-color: #ffff;
}

.done-progress {
    margin-bottom: 10px;
}

.done-progress ul{
    margin-left: 10px;
}

.form-fields {
    width: 90%;
    right: auto;
    left: auto;
}

@media only screen and (min-width: 993px){
    .row .col.l4 {
        width: 27%;
        margin: 15px;
        left: auto;
        right: auto;
    }

    .form-fields {
        width: 60%;
        left: auto;
        right: auto;
    }
}