body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
}

.flash-msgs {
    line-height: 1;
}

main {
    flex: 1 1 auto; 
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.container {
    text-align: center;
    color: white;
    width: 100%;
  }

.hero-image {
    width: inherit;
    height: 350px;
    left: 0;
    margin: 0;
    padding: 0;
}

/* Font-weigt setting taken from Stack Overflow (https://stackoverflow.com/questions/18569994/change-button-text-to-bold)*/
.btn, .btn-small {
    font-weight: bold;
    border-radius: 20px;
    margin-top: 15px;
}

.btn-small {
    margin: 5px;
}

.btn-done-shadow {
    box-shadow: 15px 15px 60px whitesmoke;
}

h5{
    margin: 15px;
}

.row .col.s12 {
    width: 90%;
    left: 5%;
}

.select-label {
    color: #ffff;
    font-weight: bold;  
}

.select-wrapper input.select-dropdown {
    color: #006064;
    background-color: #ffff;
    font-size: 13px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 5px 5px 10px #006064 inset;
}

.select-wrapper .choose-option {
    background-color: #ffff;
}

.done-progress {
    margin-bottom: 10px;
}

.done-progress ul{
    margin-left: 10px;
}


@media only screen and (min-width: 993px){
    .row .col.l4 {
        width: 27%;
        margin: 15px;
        left: 6%;
    }
}