{% extends "base.html" %}
{% block content %}

    <h4 class="deep-orange-text text-lighten-2">Add Habit</h4>
    <div class="container form-fields">
    <!-------- Code for form and text inputs taken from Materialize 
        (https://materializecss.com/text-inputs.html) and edited slightly ---------->
      <!-------- Classes for icons and most of code taken from Code Institute walkthrough project - Task Manager -------->
        <div class="row">
            <form class="col s12" method="POST" action="{{ url_for('add_habit') }}">
                <div class="row">
                    <div class="input-field col s12">
                        <!---- Category Name select ---->
                        <i class="fas fa-book prefix cyan-text text-darken-4"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected>Choose Category</option>
                            {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="category_name">Habit's Category</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <!---- Habit Name ---->
                        <i class="fas fa-check-square prefix cyan-text text-darken-4"></i>
                        <input id="habit_name" name="habit_name" minlength="5" maxlength="50" type="text"
                            class="validate" required>
                        <label for="habit_name">Habit Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <!---- Habit Description ---->
                        <i class="fas fa-indent prefix cyan-text text-darken-4"></i>
                        <textarea id="habit_description" name="habit_description" minlength="5" maxlength="200"
                            class="materialize-textarea validate" required></textarea>
                        <label for="habit_description">Habit Description</label>
                    </div>
                </div>
                <div class="row">
                    <!---- Completion time selection ---->
                    <div class="input-field col s12">
                        <select id="completion_time" name="completion_time">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="daytime">Daytime</option>
                            <option value="minutes">Minutes</option>
                        </select>
                        <label class="cyan-text text-darken-4">Completion Time Options</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <!---- Add Habit button ---->
                        <button type="submit" class="btn-small cyan darken-4 white-text">
                            Add Habit <i class="fas fa-plus-circle right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}