{% extends "base.html" %}
{% block content %}
    <h4 class="deep-orange-text text-lighten-2">Manage Categories</h4>
    
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_category') }}" class="btn-small deep-orange-text text-lighten-2 white">
                Add Category <i class="fas fa-plus-circle right"></i>
            </a>
        </div>
    </div>

    <!-----Card Panel taken from Materialize and edited (https://materializecss.com/cards.html)-->
    <div class="row">
        {% for category in categories %}
            <div class="col s12 m4">
                <div class="card cyan darken-4 center-align">
                    <div class="card-content white-text">
                        <span class="card-title"><strong>{{ category.category_name }}</strong></span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('edit_category', category_id=category._id) }}" 
                        class="btn-small white-text cyan darken-4 btn-done-shadow">Edit</a>
                        <a href="#" class="btn-small white-text red btn-done-shadow">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}