{% extends "base.html" %}
{% block content %}

    <h4 class="deep-orange-text text-lighten-2">
        {{action_message}} Habit</h4>
    <div class="container form-fields">
        <div class="row">
            <form class="col s12" method="POST" action="{{ url_for('edit_habit', habit_id=habit._id) }}">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-book prefix cyan-text text-darken-4"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected>Choose Category</option>
                            {% for category in categories %}
                            {% if category.category_name == habit.category_name %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label for="category_name">Habit's Category</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-check-square prefix cyan-text text-darken-4"></i>
                        <input id="habit_name" name="habit_name" minlength="5" maxlength="50"
                            value="{{ habit.habit_name }}" type="text" class="validate" required>
                        <label for="habit_name">Habit Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-indent prefix cyan-text text-darken-4"></i>
                        <textarea id="habit_description" name="habit_description" minlength="5" maxlength="200"
                            class="materialize-textarea validate" required>
                        {{- habit.habit_description -}}
                    </textarea>
                        <label for="habit_description">Habit Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select id="completion_time" name="completion_time">
                            <option value="" disabled>Choose your option</option>
                            <option value="daytime" {% if 'daytime' == habit.completion_time %} selected {%endif%}>Time
                                of the day</option>
                            <option value="minutes" {% if 'minutes' == habit.completion_time %} selected {%endif%}>
                                Minutes</option>
                        </select>
                        <label class="cyan-text text-darken-4">Completion Time Options</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('habits', username=session.user) }}" class="btn-small red">
                            Cancel <i class="fas fa-times-circle right"></i>
                        </a>
                        <button type="submit" class="btn-small cyan darken-4 white-text">
                            {{action_message}} Habit <i class="fas fa-edit right"></i>
                        </button>
                    </div>
                </div>
                <input id="action_name" name="action_name" minlength="5" maxlength="50" value="{{action_name}}"
                    type="hidden" class="validate" required>
            </form>
        </div>
    </div>

{% endblock %}