{% extends "base.html" %}
{% block content %}
        <h1 class="cyan-text text-darken-4"> Future Habits Await!</h1>
        
        <div class="row">
          {%for habit in habits%}
          <div class="card col s12 l4 white-text cyan darken-4">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ url_for('static', filename='images/self_care.jpeg')}}">
            </div>
            <div class="card-content">
              <span class="card-title activator white-text cyan darken-4"><strong>{{habit.habit_name}}</strong> <i
                  class="fas fa-ellipsis-v"></i></span>
              <p>{{habit.category_name}}</p><br>
              {% if habit.completion_time == 'daytime'%}
                <form action="{{url_for('add_habit_progress')}}" method="POST">
                  <input type="hidden" value="{{habit._id}}" name="habit_id"/>
                  <div class="input-field col s12">
                    <select multiple name="completion_time"> 
                      <option value="" disabled selected>Choose completion option</option>
                      <option value="Morning">Morning</option>
                      <option value="Afternoon">Afternoon</option>
                      <option value="Evening">Evening</option>
                    </select>
                    <label></label>
                  </div>
                  <button class="btn-small white-text cyan darken-4 btn-done-shadow center-align" type="submit">
                    Complete</button>
                </form>
                      
              {%endif%}
              {% if habit.completion_time == 'minutes'%}
                <form action="{{url_for('add_habit_progress')}}" method="POST">
                  <input type="hidden" value="{{habit._id}}" name="habit_id"/>
                  <div class="input-field col s12">
                    <select name="completion_time"> 
                      <option value="" disabled selected>Choose completion option</option>
                      <option value="5 Minutes">5 Minutes</option>
                      <option value="15 Minutes">15 Minutes</option>
                      <option value="30 Minutes">30 Minutes</option>
                      <option value="45 Minutes">45 Minutes</option>
                    </select>
                    <label class="select-label"></label>
                  </div>
                  <button class="btn-small white-text cyan darken-4 btn-done-shadow center-align" type="submit">
                      Complete</button>
                </form>
                    
              {%endif%}

              {% if session.user == habit.created_by %}
                  <div class="row">
                    <div class="col s6">
                      <a href="" class="btn-small deep-orange-text text-lighten-2 white">Edit</a>
                    </div>
                    <div class="col s6">
                      <a href="" class="btn-small deep-orange-text text-lighten-2 white">Delete</a>
                    </div>
                  </div>
              {%endif%}
            </div>
            <div class="card-reveal white-text cyan darken-4">
              <span class="card-title "><strong>{{habit.habit_name}}</strong> <i class="fas fa-ellipsis-v"></i></span>
              <p class="white-text cyan darken-4">{{habit.habit_description}}</p>
              {%for progress in habit.progress_list%}
                <div class="row" style="margin-bottom: 10px;">
                  <p> Completed on {{progress.progess_date.strftime('%d-%m-%Y')}}: </p>
                  <ul style="margin-left: 10px;">
                    {%for completion in progress.completion_time%}
                      <li>{{completion}}</li>
                    {%endfor%}
                  </ul>
                </div>
              {%endfor%}
              
            </div>
          </div>
          {%endfor%}
        </div>
                  
{% endblock %}