{% extends "base.html" %}
{% block content %}
    <div class="container">
        <img src="{{ url_for('static', filename='images/hero-image-byu.jpg')}}" class="hero-image" alt="">
    </div>
    <main>
        <section class="cyan-text text-darken-4">
            <h3>What BobZZ Your Uncle has to offer?</h3>
            <h5>It takes minimum 21 days to form a habit, however latest study showed that
                on average it actually takes 66 days.
                But don't be discouraged, follow 3 steps below and bob's your uncle! ;)</h5>
            <div class="row">
                <div class="col s12 l4">
                    <h4>Start Small!</h4>
                    <p>Start with something easy, take one sip of water,
                        go for 5 minutes walk or read two pages of the book.
                        You most likely do more than that. "As I'm already here I might as well have a longer walk
                        or read at least 15 pages" - this mentality will kick in and you will overachieve your goals.
                    </p>
                </div>
                <div class="col s12 l4">
                    <h4>Habit Stacking</h4>
                    <p>Atach a new habit to already existing habit. Let's say, you want to start flossing your teeth.
                        Instead of deciding I just gonna floss my teeth, attach it to something you have an established
                        routine for, such as brushing your teeth. Because you aready do it every day and you just adding
                        to it.
                        This will make it so much easier to form a new habit and stick to it.
                    </p>
                </div>
                <div class="col s12 l4">
                    <h4>Keep Going</h4>
                    <p>Keep the momentum going. Sometimes you might read one page, sometimes ten, but that's okay
                        just keep on doing it every single day. The whole idea is to train the behaviour, whether
                        you going for 5 minutes walk or 20 minutes - it doesn't matter. As long as you keep going.
                        Even if you miss one day or even two days it's okay, just try not to miss more than three days.
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}