{% extends "base.html" %}
{% block content %}
    <div class="container">
        <img src="{{ url_for('static', filename='images/hero-image-byu.jpg')}}" class="hero-image" alt="">
    </div>
    <main>
        <section class="cyan-text text-darken-4">
            <h3>What does BobZZ Your Uncle have to offer?
            </h3>
            <h5>It takes a minimum of 21 days to form a habit, however the latest studies show that on average, 
                it actually takes 66 days. But don't be discouraged, follow our 3 simple steps below 
                and Bob's your uncle! ;)
            </h5>
            <div class="row">
                <div class="col s12 l4">
                    <h4>Start Small!</h4>
                    <p>Start with something easy - take one sip of water, 
                        go for a 5 minute walk or read two pages of that book you've always been meaning to. 
                        Once you start, you most likely will go on to surpass that. "As I'm already here, 
                        I might as well have a longer walk or read at least 15 pages" - this chain reaction 
                        mentality will kick in and you will overachieve your goals!
                    </p>
                </div>
                <div class="col s12 l4">
                    <h4>Habit Stacking</h4>
                    <p>Attach a new habit to an already existing habit. Let's say, you want to start flossing your teeth. 
                        Instead of merely deciding to floss, attach it to something you have already established 
                        a routine for, such as brushing your teeth. It's something you already do it every day and 
                        you are just simply adding to it. This will make it so much easier to form a new habit and stick to it.
                    </p>
                </div>
                <div class="col s12 l4">
                    <h4>Keep Going</h4>
                    <p>Keep the momentum going. Sometimes you might read one page, sometimes ten, but that's okay. 
                        Just keep showing up every single day. The whole idea is to continually train the behaviour, 
                        whether you go for a 5 minute walk or 20 minutes - it doesn't matter. As long as you keep going. 
                        Even if you miss a day or two, don't beat yourself up. Just carry on the following day. 
                        Keep practicing. Consistency is key! 
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}